.background {
    background: linear-gradient(90deg, #393434 0%, #fff 100%);
    margin-top: -1rem;
}

.actualites {
    margin: 0 auto;
    width: 90%;
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.instagram-media.instagram-media-rendered {
    min-width: 800px !important;
}

.actualites h2 {
    font-size: 2rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.026);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5rem;
    width: 50%;
    font-weight: bold;
    margin-top: 1rem;
}

.title-parc {
    background-color: aqua;
    padding: 0.5rem;
    border-radius: 5px;
}

.actualites p {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 400;
}

.actualites li {
    list-style: none;
    margin-top: 1rem;
    font-weight: 500;
}

.container-img1 {
    max-width: 1800px;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-img2 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.instagram-embed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-bottom: 4rem;
}

.instagram-embed iframe {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9) !important;
}

.actu-img {
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    width: 600px;
    height: 600px;
    border-radius: 5px;
}

.actu-img2 {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.map-container {
    width: 42%;
}

.map-container iframe {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.container-img h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.actu-text {
    line-height: 1.5;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.5rem;
}

.text-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0.8rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

video {
    width: 550px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.scroll-to-top {
    background: black;
    padding: 1rem;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 5rem;
    right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.scroll-to-top:hover {
    background: white;
    color: black;
}

.app-container {
    position: relative;
}

.app-img {
    position: absolute;
    z-index: 1000;
    border-radius: 20px;
    top: 22rem;
    right: 1rem;
}

.box-app {
    display: flex;
    justify-content: space-around;
}

.link-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-billeterie {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

.btn-billeterie:hover {
    background-color: #292929;
    color: rgb(255, 255, 255);
}

.icon {
    width: 40px;
    position: absolute;
    margin-top: 1.8rem;
}

.link-actu {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 10px;
    height: 80px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 970px) {
    .instagram-embed iframe {
        margin: 1rem;
        width: 100%;
    }

    .instagram-media.instagram-media-rendered {
        min-width: 600px !important;
    }

    .actu-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 1rem;
    }

    .actu-img2 {
        width: 100%;
        height: 100%;
    }

    .app-img {
        position: absolute;
        width: 200px;
        z-index: 1000;
        border-radius: 20px;
        top: 9rem;
        right: 1rem;
    }

    .map-container {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .instagram-media.instagram-media-rendered {
        min-width: 300px !important;
    }

    .map-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .actualites h2 {
    width: 100%;
    font-size: 20px;
}
.actualites p {
    font-size: 16px;
}   
.text-intro {
    font-size: 12px;
}
.text-intro h1{
    font-size: 20px;
}
.text-intro h2{
    font-size: 18px;
}
.text-intro p{
    font-size: 16px;
}
}

@media (max-width: 580px) {
    .app-img {
        position: absolute;
        width: 150px;
        z-index: 1000;
        border-radius: 20px;
        top: 5rem;
        right: 1rem;
    }

    .box-app {
        flex-direction: column;
    }

    .btn-billeterie{
        font-size: 14px;
        padding: 0.5rem;
        top: 0.5rem;
    }
}

@media (max-width: 400px) {
    .app-img {
        position: absolute;
        width: 120px;
        top: 5rem;
        right: 1rem;
    }

    .link-actu {
        font-size: 14px;
        height: 60px;
    }

    .icon {
        width: 30px;
        margin-top: 1.5rem;
    }
}


/* Ajout d'un style pour le conteneur principal */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ajout d'un style pour que le contenu principal prenne tout l'espace disponible */
#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Assurez-vous que le contenu principal prend tout l'espace disponible */
main {
    flex: 1;
}