.plan-eau{
    background-image: url('../../images/tour1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.plan-eau-container{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
}

.plan-eau h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.plan-eau h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.plan-eau p{
    margin: 0 auto;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.plan-eau ul{
    margin: 0 auto;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
    margin-top: 1rem;
}

.plan-eau li{
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
}

@media (max-width: 768px) {
    .plan-eau h2 {
        font-size: 1.5rem;
    }
    
    .plan-eau p,
    .plan-eau li {
        font-size: 1rem;
        max-width: 90%;
    }
    
    .retour-link {
        font-size: 0.9rem;
    }
}

@media (max-width: 390px) {
    .plan-eau h1{
        font-size: 1.5rem;
        margin-top: -1rem;
    }

    .plan-eau h2 {
        font-size: 1.2rem;
    }
    
    .plan-eau p,
    .plan-eau li {
        font-size: 0.7rem !important;
        max-width: 95%;
    }
    
    .retour-link {
        font-size: 0.8rem;
    }
}

