.sorties {
    min-height: 100vh;
    margin-top: -1rem;
    padding-bottom: 4rem;
    background-image: url(../../images/resto1.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
}

.sorties h1,
 .sorties p{
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.sorties p{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
      background-color: rgba(0, 0, 0, 0.437);
     padding: 1rem;
     border-radius: 5px;
}

.lieux-populaires{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
}

.lieux-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.lieu{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lieu h3{
    margin-bottom: 1rem;
}

.lieu h3 a{
    margin-bottom: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.lieu h3 a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.lieu img,
.lieu iframe {
    width: 100%;
    height: 300px; 
    max-width: 500px;
    border-radius: 5px;
    object-fit: cover; 
}

.lieu iframe {
    object-fit: fill; 
}

.restaurants{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    max-width: 800px;
    margin: 0 auto;
}

.description-title{
    color: white;
    text-align: center;
}
.description p{
    color: white;
    text-align: center;
    margin:  1rem;
    line-height: 25px;
     background-color: rgba(0, 0, 0, 0.437);
     padding: 1rem;
     border-radius: 5px;
}   


@media (max-width: 550px) {
    .lieu img,
    .lieu iframe{
        max-width: 400px;
        width: 100%;
        max-height: 300px;
        height: auto;
    }

}

