.musee{
    background-image: url('../../images/musee.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.musee h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.musee h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.musee p{
    margin: 0 auto;
    max-width: 450px;
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

.musee ul{
    margin: 0 auto;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5rem;
}

.musee li{
    list-style: none;
    line-height: 1.5;
    font-weight: 500;
}

@media (max-width: 768px) {
    .cathedrale h2 {
        font-size: 1.5rem;
    }
    
    .cathedrale p,
    .cathedrale li {
        font-size: 1rem;
        max-width: 90%;
    }
    
    .retour-link {
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    .musee h2 {
        font-size: 1.2rem;
    }
    
    .musee p,
    .musee li {
        font-size: 0.9rem;
        max-width: 95%;
    }
    
    .retour-link {
        font-size: 0.8rem;
    }
}

